    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

    * {
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #opc{
        width: 100%;
    }
    #opc .col {
        padding: 20px; 
    }
    #opc img {
        max-width: 100%;
    }
    #opc h3 {
        margin-top: 10px; 
        margin-bottom: 0; 
    }
    #texto{
        margin: 20px;

    }

    .logo{
        width: 100%;
        height: 340px;
    }
    #imgph{
        width: 64%;
        height: 60%;
        padding: 45px;
        padding-top: 70px;
        }
    #img{
    width: 50%;
    height: 60%;
    padding: 20px;
    }

    header {
        padding: 10px 0; 
    }

    .nav-link {
        font-size: 20px;
        padding: 15px 20px; 
    }
    .custom-nav-link {
        font-size: 20px;
        padding: 15px 20px;
    }

