@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    /*background-color: #3d4cee; /* Azul oscuro */
    margin: 0; 
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #00116f; 
    margin-bottom: 20px; 
}
h2 {
    color: #fcff62; 
    background-color: #01116d; 
    margin-bottom: 20px; 
}

table {
    width: 80%;
    max-width: 960px; 
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px 16px;
    border: 1px solid #ffe082; 
    color: white;
}

th {
    background-color: #4d81cf; 
}

td {
    background-color: #060f50; 
}

.info-block {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}

.side-image {
    width: 100px; 
    height: auto; 
    margin-right: 20px; 
}

h3 {
    margin: 0; 
    color: #00116f;
}

.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px; 
    background-color: #f4f4f4; 
}

.chart-container {
    flex: 1 1 50%;
    max-width: 50%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

canvas {
    width: 95%; 
    height: 200px; 
    margin-bottom: 20px; 
}
header {
    padding: 10px 0;
}

.nav-link {
    font-size: 20px; 
}
@media (max-width: 600px) {
    table {
        width: 95%; 
    }
    th, td {
        padding: 8px; 
    }
}
.custom-home-link {
 
    font-size: 20px;
}
