<!doctype html>
<html lang="en">

<head>
    <title>Administrador Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./views/styles/admin_home.css">
    <style>
        h1 {
            margin: 20px 0;
        }
    </style>
</head>

<script src="./views/scripts/admin_home.js"></script>
<script src="./views/scripts/logout.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    <header>
        <!-- In your admin_home.html or another relevant HTML file -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <h1>PoolGuardian</h1>
                <h2>Administración de Albercas</h2>
                <div class="d-flex">
                    <button id="logout-button" class="btn btn-warning btn-lg ms-auto me-2">Cerrar Sesión</button>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <h2>Lista de Albercas</h2>
        <table class="table" id="poolsTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Centimetros</th>
                    <th>Nivel</th>
                    <th>Temperatura Actual</th>
                    <th>Temperatura Ideal</th>
                    <th>pH Ideal</th>
                    <th>pH Actual</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas se llenarán desde JavaScript -->
            </tbody>
        </table>
        <a href="/addpool">
            <button type="button" class="btn btn-success">Agregar Alberca</button>
        </a>
        <!-- Formulario para agregar alberca, inicialmente oculto -->
    </main>
    <!-- Modal de Edición de Alberca -->
<div class="modal fade" id="editPoolModal" tabindex="-1" aria-labelledby="editPoolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPoolModalLabel">Editar Alberca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editPoolForm">
                    <input type="hidden" id="editPoolId">
                    <div class="mb-3">
                        <label for="editPoolName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="editPoolName">
                    </div>
                    <div class="mb-3">
                        <label for="editPoolMeters" class="form-label">Metros</label>
                        <input type="number" class="form-control" id="editPoolMeters">
                    </div>
                    <div class="mb-3">
                        <label for="editPoolTemperatureIdeal" class="form-label">Temperatura Ideal</label>
                        <input type="number" class="form-control" id="editPoolTemperatureIdeal">
                    </div>
                    <div class="mb-3">
                        <label for="editPoolPhIdeal" class="form-label">pH Ideal</label>
                        <input type="number" class="form-control" id="editPoolPhIdeal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="submitEditPool()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
        </script>
</body>

</html>