<!doctype html>
<html lang="en">

<head>
    <title>Log In-PoolGuardian</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="./views/styles/login.css">
</head>

<body>
    <header>
        <a href="/normal_home">
            <h1 id="titulo">PoolGuardian</h1>
        </a>
    </header>
    <main>
        <div id="container" class="container">
            <div id="login-div" class="form-container sign-up">
                <form id="registerForm">
                    <h1>Crear Cuenta</h1>
                    <span>Utiliza tu nombre, correo y contraseña</span>
                    <input id="registerName" type="text" placeholder="Nombre" required>
                    <input id="registerEmail" type="email" placeholder="Correo" required>
                    <input id="registerPassword" type="password" placeholder="Contraseña" required>
                    <div class="radio-container">
                        <label for="typeUser">Tipo de usuario:</label>
                        <input type="radio" id="typeUserAdmin" name="typeUser" value="admin">
                        <label for="typeUserAdmin">Admin</label>
                        <input type="radio" id="typeUserNormal" name="typeUser" value="normal" checked>
                        <label for="typeUserNormal">Normal</label>
                    </div>
                    <button type="button" onclick="registrarUsuario()">Crear Cuenta</button>
                    <div id="signup-error-message"></div>
                </form>
            </div>
            <div id="signup-div" class="form-container sign-in">
                <form id="loginForm">
                    <h1>Iniciar Sesion</h1>
                    <span>Utiliza tu correo y contraseña</span>
                    <input id="loginEmail" type="email" placeholder="Correo" required>
                    <input id="loginPassword" type="password" placeholder="Contraseña" required>
                    <a id="frgt_psswd" href="#" onclick="abrirContainerOlvidarContrasena()">Olvidaste tu contraseña?</a>
                    <button type="button" onclick="iniciarSesion()">Iniciar Sesion</button>
                    <div id="login-error-message"></div>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Hola usuario!</h1>
                        <p>Registrate con tus datos para poder acceder a las funciones del programa</p>
                        <button id="login" class="hidden">Iniciar Sesion</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hola usuario!</h1>
                        <p>Registrate con tus datos para poder acceder a las funciones del programa</p>
                        <button id="register" class="hidden">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="./views/scripts/login.js"></script>

        <div id="container-update" class="container">
            <button type="button" class="btn-close" aria-label="Close"
                onclick="cerrarContainerOlvidarContrasena()"></button>
            <div id="update-div" class="form-container-update">
                <form id="updateForm">
                    <h1 id="text-update">Cambiar contraseña</h1>
                    <span>Utiliza tu correo y una nueva contraseña</span>
                    <input id="emailUpdate" type="email" placeholder="Correo" required>
                    <input id="newPassword" type="password" placeholder="Nueva contraseña" required>
                    <button class="updateBtn" type="button" onclick="cambiarContrasena()">Actualizar</button>
                    <div id="olvidarContrasena-error-message"></div>
                    <div id="signup-error-message"></div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>